@import 'bootstrap';
h1 {
    display: inline-block;
    border-radius: 10px;
}
html {
    height: 100%;
}
#exp {
    color: rgba(204, 57, 57, 0.767);
}
#budget {
    color: rgb(11, 122, 35);
    border: 0px;
    border-radius: 10px;
    padding: 3px;
}
#expense_total {
    color: rgba(177, 14, 14, 0.726);
    border: 0px;
    border-radius: 10px;
    padding: 3px;
}
#budget_remaining {
    color: rgb(60, 110, 218);
    border: 0px;
    border-radius: 10px;
    padding: 3px;
}
a {
    color: rgba(0, 0, 0, .65); 
}
#nav {
    color: rgba(255, 255, 255, 0.521);
    padding: 5px;
    background: rgba(111, 54, 243, 0.3);
    display: inline-block;
    margin-bottom: 10px;
}
li {
    list-style: none;
}
.deleteBtn {
    display: inline-block;
}
button {
    background: rgba(62, 24, 233, 0.233);
    border: 1px solid rgba(64, 18, 189, 0.678);
    border-radius: 8px;
    color: rgba(98, 18, 189, 0.878);
}
#allExpenses {
    width: 100%
}
body {
    height: 100%;
    background: linear-gradient( rgba(28, 83, 145, 0.4), rgba(79, 14, 139, 0.3), rgba(28, 83, 145, 0.4));
    background-size: cover;
    color: rgba(44, 58, 255, .7);
}
#totals {
    right: 50px;
    position: fixed;
    float: right;
    text-align: right;
    top: 360px;
}
// #your_expenses {
//     float: left;
// }
#new_expense_btn {
    float: right;
}
#budget_chart {
    padding: 5px;
    height:325px;
    top:25px;
    right:25px;
    position: fixed;
    border: 0px;
    width: 400px;
    border-radius: 30px;
}

.clear {
    clear: both;
}
.categories {
    padding: 10px;
    display: inline-block;
    width: 70%;
    margin: 5px;
    border-radius: 15px;
}
#budget_chart{
    background: rgba(255, 255, 255, .8);
    border: 0px;

}
#budget, #budget_remaining, #expense_total, .categories, h1{
    background: rgba(255, 255, 255, 0.3);
    border: 0px;
}
// li {
//     z-index: 1;
// }
// #budget_chart {
//     z-index: 0;
// 